@{
    ViewData["Title"] = "Home Page";
}







<div class="row d-flex justify-content-center align-items-center">
    <div class="col-6 vh-100 d-flex justify-content-center align-items-center"
         data-aos="fade-right"
         data-aos-duration="1000">
        <H1 class="text-dark    ">
            Bem-vindo ao sistema de <br /> Listagem de Clientes
        </H1>
    </div>
    <div class="col-6"
         data-aos="fade-left"
         data-aos-duration="1000">
        <img class="imgg" src="~/img/grupo-pessoas.webp" />
    </div>

</div>
<div class="sectionn w-100">
    <div class="section-cards d-flex justify-content-around align-items-center">


        <div class="card"
             data-aos="fade-up"
             data-aos-duration="1000">
            <div class="img-card">
                <img src="~/img/homem.png" class="card-img-top" alt="...">
            </div>

            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="nav-link" type="button" onclick="focusCampo()">
                        CONTATO
                </button>
            </div>
        </div>

        <div class="card"
             data-aos="fade-up"
             data-aos-duration="1000"
             data-aos-delay="300"
        >
            <div class="img-card">
                <img src="~/img/homem.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card"
             data-aos="fade-up"
             data-aos-duration="1000"
             data-aos-delay="500">
            <div class="img-card">
                <img src="~/img/homem.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
</div>

<div class="maps">
    <p>
        <h1>
            Localização:
        </h1> 
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d915.2931900558166!2d-46.57537202725046!3d-23.545540958860656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5ec01689d011%3A0x41cad5ce5d8dc0be!2sED%20PAULHARRIS%20-%20R.%20Padre%20Adelino%2C%202074%20-%20Quarta%20Parada%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003303-000!5e0!3m2!1spt-BR!2sbr!4v1727269360087!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            data-aos="fade-up"
            data-aos-duration="900"
            data-aos-delay="300">
    </iframe>
</div>

<footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#"> Quem somos </a></li>
                    <li><a href=""> nossos serviços </a></li>
                    <li><a href=""> política de privacidade </a></li>
                    <li><a href=""> programa de afiliados</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Obter ajuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Transporte</a></li>
                    <li><a href="#">devoluções</a></li>
                    <li><a href="#">Status De Pedido</a></li>
                    <li><a href="#">Opções De Pagamento</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Loja online</h4>
                <ul>
                    <li><a href="#">Relógio</a></li>
                    <li><a href="#">Saco</a></li>
                    <li><a href="#">Calçado</a></li>
                    <li><a href="#">Endereço</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Se subescreva!</h4>
                <div class="form-sub">
                    <form>
                        <input type="text" id="meuCampo" name="meuCampo" />
                        <button>subscrever</button>
                    </form>
                </div>
                <div class="medias-socias">
                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                    <a href="#"> <i class="fa fa-instagram"></i> </a>
                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                </div>

            </div>
            <!--end footer col-->
        </div>
    </div>
</footer>


<script type="text/javascript">
    function focusCampo() {
        var campo = document.getElementById("meuCampo");
        if (campo) {
            campo.scrollIntoView({ behavior: 'smooth', block: 'center' });
            campo.focus();
        }
    }
</script>







