@{
    ViewData["Title"] = "Home Page";
}







<div class="BotaoHome">
    <div class="">
        <h1> <a class="nav-link2 " asp-area="" asp-controller="Cliente" asp-action="Cadastrar">Cadastrar</a></h1>
    </div>

  

</div>






