@model Cliente


<form method="post" asp-controller="Cliente" asp-action="Excluir">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="Nome" class="form-label" >Nome</label>
        <input asp-for="Nome" type="text" class="form-control" id="seuInput">
    
        
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control">
    </div>

    <div class="mb-3">
        <label for="Telefone" class="form-label">Telefone</label>
        <input asp-for="Telefone" type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label for="Cargo" class="form-label">Cargo</label>
        <input asp-for="Cargo" type="text" class="form-control"> 
    </div>

    <button  type="submit" class="btn btn-primary">Excluir</button>
    <a asp-controller="Cliente" asp-action="Index" class="btn btn-warning">Cancelar</a>
</form>



